<div class="container" style="padding-top: 2%;">
  <h1 style="margin-bottom: 5%;">srr-elapsedtimer - DEMO</h1>
  <srr-elapsedtimer></srr-elapsedtimer>
  <p style="margin-top: 5%;">Current Time - {{timeNow}}</p>
  <p>Current Hour - {{currentHour}}</p>
  <p>Current Minute - {{currentMinute}}</p>
  <p>Current Seconds - {{currentSeconds}}</p>

  <div class="row" style="margin-top: 5%;">
    <button class="btn btn-primary" (click)="getTime()" style="margin-right: 20px;">getCurrentTime()</button>
    <button class="btn btn-primary" (click)="getHour()" style="margin-right: 20px;">getCurrentHour()</button>
    <button class="btn btn-primary" (click)="getMinute()" style="margin-right: 20px;">getCurrentMinute()</button>
    <button class="btn btn-primary" (click)="getSeconds()" style="margin-right: 20px;">getCurrentSecond()</button>
  </div>

  <div class="row" style="margin-top: 2%;">
    <button class="btn btn-success" (click)="startNow()" style="margin-right: 20px;">startTimer()</button>
    <button class="btn btn-success" (click)="pauseTimer()" style="margin-right: 20px;">pauseTimer()</button>
    <button class="btn btn-success" (click)="resumeTimer()" style="margin-right: 20px;">resumeTimer()</button>
    <button class="btn btn-success" (click)="delayStart()" style="margin-right: 20px;">delayStart()</button>
    <button class="btn btn-success" (click)="setTimerExceedColourChange()" style="margin-right: 20px;">setTimerExceedColourChange()</button>
    <button class="btn btn-success" (click)="resetTimer()" style="margin-right: 20px;">resetTimer()</button>
    <button class="btn btn-success" (click)="setSettings()" style="margin-right: 20px;">setTimerSettings()</button>
  </div>

  <h3 style="margin-top: 4%;">IMPORTANT!</h3>
  <p>delayStart() will only work if the timer is stopped or haven't started yet. Clicking that button while the timer is working, will not do anything effective</p>
  <p>setTimerExceedColourChange() and setTimerSettings() are also advised to be used before the timer starts in order to get maximum out of them</p>
</div>